body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: rgb(207, 207, 219);
  color: rgb(8, 4, 4);
  text-align: center;
  padding: 20px; 
}

section {
  padding: 20px;
  justify-content:center;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}
skills{
  border: 100px;
  border-radius: 10px;
  border-color: rgb(22, 3, 3);
}
image{
  text-align: end;
  width: 20px;
  box-sizing: 10cm;
}